/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color: dimgray;
	-fx-font-family: "Verdana";
	-fx-font-size: 15pt;
}

MenuButton{
  	-fx-background-color: yellow;
    -fx-background-radius: 20 20;
    -fx-text-fill: #395306;

}
MenuButton:hover{
	 -fx-text-fill: white;
	 -fx-background-color: tomato;
}

Panel{
	-fx-background-color:  yellow;
	-fx-background-radius: 20;
	-fx-border-color : tomato;
	-fx-border-radius: 15;
	-fx-border-width: 6; 
}



