/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root
{
-fx-background-color: dimgray;
-fx-font-family: "Verdana";
-fx-font-size: 15pt;

}

MenuButton{
  -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #395306;

}
MenuButton:hover{
	 -fx-text-fill: white;
	 -fx-background-color: tomato;
}

Panel{
	-fx-background-color:  #96CCD9;
	-fx-background-radius: 20;
}



